@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }

  .header__logotype {
    text-align: left;
    margin: 0 0 1rem 1.2rem;
  }
  .header__slogans {
    margin: 0px auto 3rem;
  }

  .game__block {
    position: relative;
  }
  .game__block_title {
    text-align: left;
    margin: 0 0 0 3rem;
    font-size: 3rem;
    line-height: 5rem;
  }
  .game__block_image {
    max-width: 50%;
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
  .game__steps {
    max-width: 50%;
  }
  .game__step {
    text-align: left;
    display: flex;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0 0.25rem;
    border-bottom: none;
    min-height: 7rem;
  }
  .game__step_count {
    margin: 0;
    border-bottom: none;
  }
  .game__substep {
    margin: 0 0 0 1rem;
  }
  .game__substep_title {
    margin: 0;
    font-size: 1.5rem;
  }

  .conclusion__image_box {
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  .conclusion__mark {
    top: 22rem;
  }
  .conclusion__description {
    margin: 0 0 0 1rem;
  }

  .footer {
    padding: 2rem 1rem;
  }
  .footer__text {
    margin: 0 0 3rem;
  }

  .social__list {
    justify-content: center;
  }

  .social__item {
    margin: 0 2rem;
  }

  .mobile__app {
    justify-content: center;
  }
  .mobile__app_container {
    justify-content: center;
    margin: 0 2rem;
  }
}