@media (min-width: 1024px) {
  .container {
    min-width: 1024px;
    max-width: 1920px;
    padding: 0 0.7rem;
  }

  .header__logotype {
    width: 12rem;
    height: 2rem;
  }
  .header__slogan {
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 4rem;
    letter-spacing: 0.25rem;
  }
  .header__slogan_style1 {
    transform: translate(-15%, 0);
  }
  .header__slogan_style2 {
    transform: translate(15%, 0);
  }
  .header__mobile_app {
    justify-content: center;
  }
  .header__navigation {
    margin-right: 2rem;
    justify-content: flex-end;
  }
  .header__link {
    margin-left: 2rem;
  }

  .mobile__app_logo {
    width: 19.43rem;
    height: 4.81rem;
    border-radius: 2.4rem;
  }
  .mobile__app_container {
    font-size: 2.5rem;
  }
  .mobile__app_text {
    font-size: 1.2rem;
  }

  .game {
    padding-bottom: 0;
  }
  .game__step_position {
    padding-left: 50%;
  }
  .game__block_image_style_1 {
    right: unset;
    left: 6rem;
    top: 4rem;
  }

  .conclusion__title {
    padding: 1rem;
  }
  .conclusion__text {
    padding: 0 1rem;
  }
  .conclusion__box {
    display: flex;
  }
  .conclusion__box_style {
    flex-direction: row-reverse;
  }
  .conclusion__image_box {
    flex-basis: 50%;
    margin: 0;
  }
  .conclusion__mark {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  .conclusion__mark_style {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  .conclusion__description {
    flex-basis: 50%;
    margin: 0;
  }
}