@media (min-width: 768px) {
	.container {
		max-width: 1024px;
	}

	.header {
		&__logotype {
			text-align: left;
			margin: 0 0 1rem 1.2rem;
		}

		&__slogans {
			margin: 0px auto 3rem;
		}
	}

	.game {
		&__block {
			position: relative;

			&_title {
				text-align: left;
				margin: 0 0 0 3rem;
				font-size: 3rem;
				line-height: 5rem;
			}

			&_image {
				max-width: 50%;
				position: absolute;
				top: 3rem;
				right: 4rem;
			}
		}

		&__steps {
			width: 100%;
		}

		&__step {
			text-align: left;
			font-size: 2rem;
			line-height: 2.5rem;
			padding: 0 .25rem;
			border-bottom: none;
			min-height: 7rem;

			&_content {
				display: flex;
				min-height: 7rem;
				padding-bottom: 0.3rem;
			}

			&_style {
				&_2 {
					background-color: #f5f4f9;
				}

				&_3 {
					background-color: #e05e47;
				}
			}

			&_count {
				margin: 0;
				border-bottom: none;

			}
		}

		&__substep {
			margin: 0 0 0 1rem;
			max-width: 50%;

			&_title {
				margin: 0;
				font-size: 1.5rem;
			}
		}
	}

	.conclusion {
		&__image_box {
			height: 25rem;
			background-position: center;
			background-repeat: no-repeat;
		}

		&__mark {
			top: 22rem;
		}

		&__description {
			margin: 0 0 0 1rem;
		}
	}

	.footer {
		padding: 2rem 1rem;

		&__text {
			margin: 0 0 3rem;
		}

		&__logo {
			left: 4%;
			transform: translate(0, 0);
		}

		&__title {
			margin-top: .9rem;
		}

	}

	.social__list {
		justify-content: center;
	}

	.social__item {
		margin: 0 2rem;
	}

	.mobile__app {
		justify-content: center;

		&_container {
			justify-content: center;
			margin: 0 2rem;
		}
	}
}